{% extends 'common_app/base.html' %}
{% load static %}

{% block content %}
<div class="uppercontainer">
    <div class="container">
        <div class="heading">
            Company Profile
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="formUpperContainer formcontainer alignRow">
                <input type="text" class="form-control" name="company_name"
                    placeholder="Company Name" value="{{response.company_name}}" required>
                <input type="text" class="form-control" name="company_address"
                    placeholder="Company Address" value="{{response.company_address}}" required>
            </div>
            <div class="formUpperContainer formcontainer alignRow">
                <input type="text" class="form-control" name="gst_number"
                    placeholder="GST Number" value="{{response.gst_number}}" required>
                <input type="text" class="form-control" name="business_email"
                    placeholder="Business Email" value="{{response.business_email}}" required>
            </div>
            <div class="formcontainer">
                <textarea name="company_description" class="form-control" 
                    rows="3" >{{response.company_description}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary form-control">Update
                Company</button>
            <div class="formUpperContainer formcontainer"><a style="font-size:
                    14px;" href="/dashboard">BACK</a></div>
        </form>
    </div>
</div>

{% endblock content %}